<h1><%= headline %></h1>
<p class="right">
<%= image_tag(image.url, {:width=>"174", :vspace=>"5", :hspace=>"10", :align=>"left", :alt => image.text} ) unless image.url.blank? %>
<%= filter(article_excerpt) %>
<nobr><%= link_to('Read More', link.url) unless link.url.blank? %></nobr></p>